{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.paylocity.com/api"
        }
    ],
    "info": {
        "contact": {
            "email": "webservices@paylocity.com"
        },
        "description": "For general questions and support of the API, contact: webservices@paylocity.com\n# Overview\n\nPaylocity Web Services API is an externally facing RESTful Internet protocol. The Paylocity API uses HTTP verbs and a RESTful endpoint structure. OAuth 2.0 is used as the API Authorization framework. Request and response payloads are formatted as JSON.\nPaylocity supports v1 and v2 versions of its API endpoints. v1, while supported, won't be enhanced with additional functionality. For direct link to v1 documentation, please click [here](https://docs.paylocity.com/weblink/guides/Paylocity_Web_Services_API/v1/Paylocity_Web_Services_API.htm). For additional resources regarding v1/v2 differences and conversion path, please contact webservices@paylocity.com.\n\n##### Setup\n\nPaylocity will provide the secure client credentials and set up the scope (type of requests and allowed company numbers). You will receive the unique client id, secret, and Paylocity public key for the data encryption. The secret will expire in 365 days. \n* Paylocity will send you an e-mail 10 days prior to the expiration date for the current secret. If not renewed, the second e-mail notification will be sent 5 days prior to secret's expiration. Each email will contain the code necessary to renew the client secret. \n* You can obtain the new secret by calling API endpoint using your current not yet expired credentials and the code that was sent with the notification email. For details on API endpoint, please see Client Credentials section. \n* Both the current secret value and the new secret value will be recognized during the transition period. After the current secret expires, you must use the new secret. \n* If you were unable to renew the secret via API endpoint, you can still contact Service and they will email you new secret via secure email.\n\n\nWhen validating the request, Paylocity API will honor the defaults and required fields set up for the company default New Hire Template as defined in Web Pay.\n\n\n# Authorization\n\nPaylocity Web Services API uses OAuth2.0 Authentication with JSON Message Format.\n\n\nAll requests of the Paylocity Web Services API require a bearer token which can be obtained by authenticating the client with the Paylocity Web Services API via OAuth 2.0.\n\n\nThe client must request a bearer token from the authorization endpoint:\n\n\nauth-server for production: https://api.paylocity.com/IdentityServer/connect/token\n\n\nauth-server for testing: https://apisandbox.paylocity.com/IdentityServer/connect/token\n\n##### Authorization Header\n\nThe request is expected to be in the form of a basic authentication request, with the \"Authorization\" header containing the client-id and client-secret. This means the standard base-64 encoded user:password, prefixed with \"Basic\" as the value for the Authorization header, where user is the client-id and password is the client-secret.\n\n##### Content-Type Header\n\nThe \"Content-Type\" header is required to be \"application/x-www-form-urlencoded\".\n\n##### Additional Values\n\nThe request must post the following form encoded values within the request body:\n\n    grant_type = client_credentials\n    scope = WebLinkAPI\n\n##### Responses\n\nSuccess will return HTTP 200 OK with JSON content:\n\n    {\n      \"access_token\": \"xxx\",\n      \"expires_in\": 3600,\n      \"token_type\": \"Bearer\"\n    }\n\n# Encryption\n\nPaylocity uses a combination of RSA and AES cryptography. As part of the setup, each client is issued a public RSA key.\n\nPaylocity recommends the encryption of the incoming requests as additional protection of the sensitive data. Clients can opt-out of the encryption during the initial setup process. Opt-out will allow Paylocity to process unencrypted requests.\n\nThe Paylocity Public Key has the following properties:\n\n* 2048 bit key size\n\n* PKCS1 key format\n\n* PEM encoding\n\n##### Properties\n\n* key (base 64 encoded): The AES symmetric key encrypted with the Paylocity Public Key. It is the key used to encrypt the content. Paylocity will decrypt the AES key using RSA decryption and use it to decrypt the content.\n\n* iv (base 64 encoded): The AES IV (Initialization Vector) used when encrypting the content.\n\n* content (base 64 encoded): The AES encrypted request. The key and iv provided in the secureContent request are used by Paylocity for decryption of the content.\n\nWe suggest using the following for the AES:\n\n* CBC cipher mode\n\n* PKCS7 padding\n\n* 128 bit block size\n\n* 256 bit key size\n\n##### Encryption Flow\n\n* Generate the unencrypted JSON payload to POST/PUT\n* Encrypt this JSON payload using your _own key and IV_ (NOT with the Paylocity public key)\n* RSA encrypt the _key_ you used in step 2 with the Paylocity Public Key, then, base64 encode the result\n* Base64 encode the IV used to encrypt the JSON payload in step 2\n* Put together a \"securecontent\" JSON object:\n \n{\n  'secureContent' : {\n    'key' : -- RSA-encrypted & base64 encoded key from step 3,\n    'iv' : -- base64 encoded iv from step 4\n    'content' -- content encrypted with your own key from step 2, base64 encoded\n  }\n}\n\n##### Sample Example\n\n    {\n      \"secureContent\": {\n        \"key\": \"eS3aw6H/qzHMJ00gSi6gQ3xa08DPMazk8BFY96Pd99ODA==\",\n        \"iv\": \"NLyXMGq9svw0XO5aI9BzWw==\",\n        \"content\": \"gAEOiQltO1w+LzGUoIK8FiYbU42hug94EasSl7N+Q1w=\"\n      }\n    }\n\n##### Sample C# Code\n\n    using Newtonsoft.Json;\n    using System;\n    using System.IO;\n    using System.Security.Cryptography;\n    using System.Text;\n\n    public class SecuredContent\n    {\n      [JsonProperty(\"key\")]\n      public string Key { get; set; }\n\n      [JsonProperty(\"iv\")]\n      public string Iv { get; set; }\n\n      [JsonProperty(\"content\")]\n      public string Content { get; set; }\n\n    }\n\n    public class EndUserSecureRequestExample\n    {\n      public string CreateSecuredRequest(FileInfo paylocityPublicKey, string unsecuredJsonRequest)\n      {\n        string publicKeyXml = File.ReadAllText(paylocityPublicKey.FullName, Encoding.UTF8);\n\n        SecuredContent secureContent = this.CreateSecuredContent(publicKeyXml, unsecuredJsonRequest);\n\n        string secureRequest = JsonConvert.SerializeObject(new { secureContent });\n\n        return secureRequest;\n      }\n\n      private SecuredContent CreateSecuredContent(string publicKeyXml, string request)\n      {\n        using (AesCryptoServiceProvider aesCsp = new AesCryptoServiceProvider())\n        {\n          aesCsp.Mode = CipherMode.CBC;\n          aesCsp.Padding = PaddingMode.PKCS7;\n          aesCsp.BlockSize = 128;\n          aesCsp.KeySize = 256;\n\n          using (ICryptoTransform crt = aesCsp.CreateEncryptor(aesCsp.Key, aesCsp.IV))\n          {\n            using (MemoryStream outputStream = new MemoryStream())\n            {\n              using (CryptoStream encryptStream = new CryptoStream(outputStream, crt, CryptoStreamMode.Write))\n              {\n                byte[] encodedRequest = Encoding.UTF8.GetBytes(request);\n                encryptStream.Write(encodedRequest, 0, encodedRequest.Length);\n                encryptStream.FlushFinalBlock();\n                byte[] encryptedRequest = outputStream.ToArray();\n\n                using (RSACryptoServiceProvider crp = new RSACryptoServiceProvider())\n                {\n                  crp.FromXmlstring(publicKeyXml);\n                  byte[] encryptedKey = crp.Encrypt(aesCsp.Key, false);\n\n                  return new SecuredContent()\n                  {\n                    Key = Convert.ToBase64string(encryptedKey),\n                    Iv = Convert.ToBase64string(aesCsp.IV),\n                    Content = Convert.ToBase64string(encryptedRequest)\n                  };\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n\n## Support\n\nQuestions about using the Paylocity API? Please contact webservices@paylocity.com.\n\n# Deductions (v1)\n\nDeductions API provides endpoints to retrieve, add, update and delete deductions for a company's employees. For schema details, click <a href=\"https://docs.paylocity.com/weblink/guides/Paylocity_Web_Services_API/v1/Paylocity_Web_Services_API.htm\" target=\"_blank\">here</a>.\n\n# OnBoarding (v1)\n\nOnboarding API sends employee data into Paylocity Onboarding to help ensure an easy and accurate hiring process for subsequent completion into Web Pay. For schema details, click <a href=\"https://docs.paylocity.com/weblink/guides/Paylocity_Web_Services_API/v1/Paylocity_Web_Services_API.htm\" target=\"_blank\">here</a>.",
        "termsOfService": "Paylocity_Automated_Data_Exchange_Request_Form.pdf",
        "title": "Paylocity",
        "version": "2",
        "x-apisguru-categories": [
            "financial"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_paylocity_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.paylocity.com/api/v2/openapi",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "paylocity.com"
    },
    "paths": {
        "/v2/companies/{companyId}/codes/{codeResource}": {
            "get": {
                "description": "Get All Company Codes for the selected company and resource",
                "operationId": "Get All Company Codes and Descriptions by Resource",
                "parameters": [
                    {
                        "description": "Bearer + JWT",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Company Id",
                        "in": "path",
                        "name": "companyId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Type of Company Code. Common values costcenter1, costcenter2, costcenter3, deductions, earnings, taxes, paygrade, positions.",
                        "in": "path",
                        "name": "codeResource",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "additionalProperties": false,
                                        "description": "The Company Codes model",
                                        "properties": {
                                            "code": {
                                                "description": "Code.<br  /> Max length: 40",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "description": {
                                                "description": "Description. <br  /> Max length: 150",
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Invalid Code Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The error model",
                                        "properties": {
                                            "field": {
                                                "description": "The name of the field, or property in the request message that contains an error.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "The error message.",
                                                "type": "string"
                                            },
                                            "options": {
                                                "description": "A list of options associated with this error. These options may indicate valid values for the field, or property that contains an error.",
                                                "items": {
                                                    "description": "The error option model",
                                                    "properties": {
                                                        "code": {
                                                            "description": "The code associated with this option.",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The description of the option.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "path": {
                                                "description": "The JSON path of the field, or property, that contains an error in the request message.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The error model",
                                        "properties": {
                                            "field": {
                                                "description": "The name of the field, or property in the request message that contains an error.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "The error message.",
                                                "type": "string"
                                            },
                                            "options": {
                                                "description": "A list of options associated with this error. These options may indicate valid values for the field, or property that contains an error.",
                                                "items": {
                                                    "description": "The error option model",
                                                    "properties": {
                                                        "code": {
                                                            "description": "The code associated with this option.",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The description of the option.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "path": {
                                                "description": "The JSON path of the field, or property, that contains an error in the request message.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "paylocity_auth": [
                            "WebLinkAPI"
                        ]
                    }
                ],
                "summary": "Get All Company Codes",
                "tags": [
                    "Company Codes"
                ]
            }
        },
        "/v2/companies/{companyId}/customfields/{category}": {
            "get": {
                "description": "Get All Custom Fields for the selected company",
                "operationId": "Get All Custom Fields by category",
                "parameters": [
                    {
                        "description": "Bearer + JWT",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Company Id",
                        "in": "path",
                        "name": "companyId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Custom Fields Category",
                        "in": "path",
                        "name": "category",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "",
                                        "properties": {
                                            "category": {
                                                "description": "The custom field category.",
                                                "type": "string"
                                            },
                                            "defaultValue": {
                                                "description": "Specifies the default value of the custom field.",
                                                "type": "string"
                                            },
                                            "isRequired": {
                                                "description": "Indicates whether the custom field is required.",
                                                "type": "boolean"
                                            },
                                            "label": {
                                                "description": "The custom field label.",
                                                "type": "string"
                                            },
                                            "type": {
                                                "description": "The custom field type.",
                                                "type": "string"
                                            },
                                            "values": {
                                                "description": "A set of values that are applicable to the custom field.",
                                                "items": {
                                                    "description": "",
                                                    "properties": {
                                                        "code": {
                                                            "description": "The custom field code.",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The custom field description.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Invalid Category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The error model",
                                        "properties": {
                                            "field": {
                                                "description": "The name of the field, or property in the request message that contains an error.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "The error message.",
                                                "type": "string"
                                            },
                                            "options": {
                                                "description": "A list of options associated with this error. These options may indicate valid values for the field, or property that contains an error.",
                                                "items": {
                                                    "description": "The error option model",
                                                    "properties": {
                                                        "code": {
                                                            "description": "The code associated with this option.",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The description of the option.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "path": {
                                                "description": "The JSON path of the field, or property, that contains an error in the request message.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The error model",
                                        "properties": {
                                            "field": {
                                                "description": "The name of the field, or property in the request message that contains an error.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "The error message.",
                                                "type": "string"
                                            },
                                            "options": {
                                                "description": "A list of options associated with this error. These options may indicate valid values for the field, or property that contains an error.",
                                                "items": {
                                                    "description": "The error option model",
                                                    "properties": {
                                                        "code": {
                                                            "description": "The code associated with this option.",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The description of the option.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "path": {
                                                "description": "The JSON path of the field, or property, that contains an error in the request message.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "paylocity_auth": [
                            "WebLinkAPI"
                        ]
                    }
                ],
                "summary": "Get All Custom Fields",
                "tags": [
                    "Custom Fields"
                ]
            }
        },
        "/v2/companies/{companyId}/employees": {
            "post": {
                "description": "New Employee API sends new employee data directly to Web Pay. Companies who use the New Hire Template in Web Pay may require additional fields when hiring employees. New Employee API Requests will honor these required fields.",
                "operationId": "Add employee",
                "parameters": [
                    {
                        "description": "Bearer + JWT",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Company Id",
                        "in": "path",
                        "name": "companyId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The EmployeeId Response Model",
                                        "properties": {
                                            "employeeId": {
                                                "description": "The EmployeeId",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The error model",
                                        "properties": {
                                            "field": {
                                                "description": "The name of the field, or property in the request message that contains an error.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "The error message.",
                                                "type": "string"
                                            },
                                            "options": {
                                                "description": "A list of options associated with this error. These options may indicate valid values for the field, or property that contains an error.",
                                                "items": {
                                                    "description": "The error option model",
                                                    "properties": {
                                                        "code": {
                                                            "description": "The code associated with this option.",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The description of the option.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "path": {
                                                "description": "The JSON path of the field, or property, that contains an error in the request message.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The error model",
                                        "properties": {
                                            "field": {
                                                "description": "The name of the field, or property in the request message that contains an error.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "The error message.",
                                                "type": "string"
                                            },
                                            "options": {
                                                "description": "A list of options associated with this error. These options may indicate valid values for the field, or property that contains an error.",
                                                "items": {
                                                    "description": "The error option model",
                                                    "properties": {
                                                        "code": {
                                                            "description": "The code associated with this option.",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The description of the option.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "path": {
                                                "description": "The JSON path of the field, or property, that contains an error in the request message.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "paylocity_auth": [
                            "WebLinkAPI"
                        ]
                    }
                ],
                "summary": "Add new employee",
                "tags": [
                    "Employee"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": false,
                                "description": "The employee model",
                                "properties": {
                                    "additionalDirectDeposit": {
                                        "description": "Add up to 19 direct deposit accounts in addition to the main direct deposit account. IMPORTANT: A direct deposit update will remove ALL existing main and additional direct deposit information in WebPay and replace with information provided on the request. GET API will not return direct deposit data.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "The additional direct deposit model",
                                            "properties": {
                                                "accountNumber": {
                                                    "description": "Account number, entered without special characters and spaces. <br  />Max length: 17<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "accountType": {
                                                    "description": "Account type. Valid values are *C* (Checking), *S* (Saving), *P* (Pay Card). <br   />Max length: 1<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "amount": {
                                                    "description": "Amount value to be deposited to the account.<br  />Decimal (12,2)<br />",
                                                    "type": "number",
                                                    "nullable": true
                                                },
                                                "amountType": {
                                                    "description": "Amount type to indicate the context of the amount. Common values are *F* (FLAT), *F-* (Net Minus), *P* (Percent). <br  /> Max length: 5<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "blockSpecial": {
                                                    "description": "Indicates if direct deposit should be blocked when special check types such as Bonus are processed.<br />",
                                                    "type": "boolean",
                                                    "nullable": true
                                                },
                                                "isSkipPreNote": {
                                                    "description": "Indicates if account will not pre-note.<br />",
                                                    "type": "boolean",
                                                    "nullable": true
                                                },
                                                "nameOnAccount": {
                                                    "description": "Name on the bank account. Defaults to employee's name. <br  />Max length: 30<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "preNoteDate": {
                                                    "description": "Date to end the pre-note of the account. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.<br />",
                                                    "format": "paylocity-date",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "routingNumber": {
                                                    "description": "ABA Transit Routing Number, entered without dashes or spaces. <br  />Max length: 9<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 19,
                                        "type": "array"
                                    },
                                    "additionalRate": {
                                        "description": "Add Additional Rates.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "The additional pay rate model",
                                            "properties": {
                                                "changeReason": {
                                                    "description": "Not required. If populated, must match one of the system coded values available in the Additional Rates Change Reason drop down.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "costCenter1": {
                                                    "description": "Not required. Valid values must match one of the system coded cost centers available in the Additional Rates Cost Center level 1 drop down. This cell must be in a text format.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "costCenter2": {
                                                    "description": "Not required. Valid values must match one of the system coded cost centers available in the Additional Rates Cost Center level 2 drop down. This cell must be in a text format.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "costCenter3": {
                                                    "description": "Not required. Valid values must match one of the system coded cost centers available in the Additional Rates Cost Center level 3 drop down. This cell must be in a text format.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "effectiveDate": {
                                                    "description": "Required. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.<br />",
                                                    "format": "paylocity-date",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "endCheckDate": {
                                                    "description": "Not required. Must match one of the system coded check dates available in the Additional Rates End Check Date drop down. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.<br />",
                                                    "format": "paylocity-date",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "job": {
                                                    "description": "Not required. If populated, must match one of the system coded values available in the Additional Rates Job drop down.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "rate": {
                                                    "description": "Required. Enter dollar amount that corresponds to the Per selection.<br />",
                                                    "type": "number",
                                                    "nullable": true
                                                },
                                                "rateCode": {
                                                    "description": "Required. If populated, must match one of the system coded values available in the Additional Rates Rate Code drop down.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "rateNotes": {
                                                    "description": "Not required.<br  />Max length: 4000<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "ratePer": {
                                                    "description": "Required. Valid values are HOUR or WEEK.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "shift": {
                                                    "description": "Not required. If populated, must match one of the system coded values available in the Additional Rates Shift drop down.<br />",
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "benefitSetup": {
                                        "additionalProperties": false,
                                        "description": " Add or update setup values used for employee benefits integration, insurance plan settings, and ACA reporting.",
                                        "properties": {
                                            "benefitClass": {
                                                "description": "Benefit Class code. Values are configured in Web Pay Company > Setup > Benefits > Classes.<br  />Max length: 30",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "benefitClassEffectiveDate": {
                                                "description": "Date when Benefit Class takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.",
                                                "format": "paylocity-date",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "benefitSalary": {
                                                "description": "Salary used to configure benefits.<br  />Decimal(12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "benefitSalaryEffectiveDate": {
                                                "description": "Date when Benefit Salary takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.",
                                                "format": "paylocity-date",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "doNotApplyAdministrativePeriod": {
                                                "description": "Applicable only for HR Enhanced clients and Benefit Classes with ACA Employment Type of Full Time.",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "isMeasureAcaEligibility": {
                                                "description": "Only valid for HR Enhanced clients and Benefit Classes that are ACA Employment Type of Full Time.",
                                                "type": "boolean",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "birthDate": {
                                        "description": "Employee birthdate. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.",
                                        "format": "paylocity-date",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "companyName": {
                                        "description": "Company name as defined in Web Pay, applicable with GET requests only.<br  /> Max length: 50",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "currency": {
                                        "description": "Employee is paid in this currency. <br  />Max length: 30",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "customBooleanFields": {
                                        "description": "Up to 8 custom fields of boolean (checkbox) type value.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "",
                                            "properties": {
                                                "category": {
                                                    "description": "The custom field category.  Acceptable value is 'PayrollAndHR'.",
                                                    "enum": [
                                                        "PayrollAndHR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "label": {
                                                    "description": "The custom field label whose value is to be added/updated. Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "value": {
                                                    "description": "The custom boolean field value.",
                                                    "type": "boolean",
                                                    "nullable": true
                                                }
                                            },
                                            "required": [
                                                "category",
                                                "label",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 8,
                                        "type": "array"
                                    },
                                    "customDateFields": {
                                        "description": "Up to 8 custom fields of the date type value.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "",
                                            "properties": {
                                                "category": {
                                                    "description": "The custom field category.  Acceptable value is 'PayrollAndHR'.",
                                                    "enum": [
                                                        "PayrollAndHR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "label": {
                                                    "description": "The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "value": {
                                                    "description": "The custom date field value.  Common formats include MM-DD-CCYY, CCYY-MM-DD.",
                                                    "format": "paylocity-date",
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "required": [
                                                "category",
                                                "label",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 8,
                                        "type": "array"
                                    },
                                    "customDropDownFields": {
                                        "description": "Up to 8 custom fields of the dropdown type value.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "",
                                            "properties": {
                                                "category": {
                                                    "description": "The custom field category.  Acceptable value is 'PayrollAndHR'.",
                                                    "enum": [
                                                        "PayrollAndHR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "label": {
                                                    "description": "The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "value": {
                                                    "description": "The custom dropdown field value.  Values are configured in Web Pay Company > Setup > List Values > Lookup Values > Custom Fields: PayrollAndHR.  Max length: 10.",
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "required": [
                                                "category",
                                                "label",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 8,
                                        "type": "array"
                                    },
                                    "customNumberFields": {
                                        "description": "Up to 8 custom fields of numeric type value.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "",
                                            "properties": {
                                                "category": {
                                                    "description": "The custom field category.  Acceptable value is 'PayrollAndHR'.",
                                                    "enum": [
                                                        "PayrollAndHR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "label": {
                                                    "description": "The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "value": {
                                                    "description": "The custom number field value.  Decimal (18,6).",
                                                    "type": "number",
                                                    "nullable": true
                                                }
                                            },
                                            "required": [
                                                "category",
                                                "label",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 8,
                                        "type": "array"
                                    },
                                    "customTextFields": {
                                        "description": "Up to 8 custom fields of text type value.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "",
                                            "properties": {
                                                "category": {
                                                    "description": "The custom field category.  Acceptable value is 'PayrollAndHR'.",
                                                    "enum": [
                                                        "PayrollAndHR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "label": {
                                                    "description": "The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "value": {
                                                    "description": "The custom text field value.  Max length: 255.",
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "required": [
                                                "category",
                                                "label",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 8,
                                        "type": "array"
                                    },
                                    "departmentPosition": {
                                        "additionalProperties": false,
                                        "description": "Add or update home department cost center, position, supervisor, reviewer, employment type, EEO class, pay settings, and union information.",
                                        "properties": {
                                            "changeReason": {
                                                "description": "Employee department/position change reason. Must match Company setup. <br  />Max length: 15",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "clockBadgeNumber": {
                                                "description": "Employee clock badge number. Defaults to employeeId. <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "costCenter1": {
                                                "description": "Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "costCenter2": {
                                                "description": "Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "costCenter3": {
                                                "description": "Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "effectiveDate": {
                                                "description": "The date the position takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.",
                                                "format": "paylocity-date",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "employeeType": {
                                                "description": "Employee current employment type. Common values *RFT (Regular Full Time), RPT (Regular Part Time), SNL (Seasonal), TFT (Temporary Full Time), TPT (Temporary Part Time)*. <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "equalEmploymentOpportunityClass": {
                                                "description": "Values are configured in Company > Setup > HR > EEO Classes.<br  /> Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "isMinimumWageExempt": {
                                                "description": "Indicates if employee is exempt from minimum wage.",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "isOvertimeExempt": {
                                                "description": "Indicates if employee is exempt from overtime.",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "isSupervisorReviewer": {
                                                "description": "Indicates if employee is a supervisor or reviewer.",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "isUnionDuesCollected": {
                                                "description": "Indicates if union dues are collected.",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "isUnionInitiationCollected": {
                                                "description": "Indicates if initiations fees are collected.",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "jobTitle": {
                                                "description": "Employee current job title. <br  />Max length: 50",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "payGroup": {
                                                "description": "Employee pay group. Must match Company setup. <br  /> Max length: 20",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "positionCode": {
                                                "description": "Employee position code. Must match Company setup.<br  />Max length: 20",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "reviewerCompanyNumber": {
                                                "description": "Company number of reviewer.<br />Max length: 9",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "reviewerEmployeeId": {
                                                "description": "Employee id of the reviewer.<br />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "shift": {
                                                "description": "Employee work shift.<br  />Max length: 255",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "supervisorCompanyNumber": {
                                                "description": "Supervisor's company number. Defaults to employee company number.<br  />Max length: 9",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "supervisorEmployeeId": {
                                                "description": "EmployeeId of the supervisor. <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "tipped": {
                                                "description": "Indicates if employee receives tips.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "unionAffiliationDate": {
                                                "description": "Employee union affiliation effective date. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.",
                                                "format": "paylocity-date",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "unionCode": {
                                                "description": "Employee union code. Must match Company setup. <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "unionPosition": {
                                                "description": "Employee union position. Must match Company setup. <br  />Max length: 30",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "workersCompensation": {
                                                "description": "Employee worker compensation code. Must match Company setup.<br  /> Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "disabilityDescription": {
                                        "description": "Indicates if employee has disability status.",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "employeeId": {
                                        "description": "Leave blank to have Web Pay automatically assign the next available employee ID.<br  />Max length: 10",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "ethnicity": {
                                        "description": "Employee ethnicity.<br  /> Max length: 10",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "federalTax": {
                                        "additionalProperties": false,
                                        "description": "Add or update federal tax amount type (taxCalculationCode), amount or percentage, filing status, and exemptions.",
                                        "properties": {
                                            "amount": {
                                                "description": "Tax amount. <br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "exemptions": {
                                                "description": "Federal tax exemptions value. <br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "filingStatus": {
                                                "description": "Employee federal filing status. Common values are *S* (Single), *M* (Married).<br  />Max length: 50",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "percentage": {
                                                "description": "Tax percentage. <br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "taxCalculationCode": {
                                                "description": "Tax calculation code. Common values are *F* (Flat), *P* (Percentage), *FDFP* (Flat Dollar Amount plus Fixed Percentage). <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "firstName": {
                                        "description": "Employee first name. <br  />Max length: 40",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "gender": {
                                        "description": "Employee gender. Common values *M* (Male), *F* (Female). <br  />Max length: 1",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "homeAddress": {
                                        "additionalProperties": false,
                                        "description": "Add or update employee's home address, personal phone numbers, and personal email.",
                                        "properties": {
                                            "address1": {
                                                "description": "1st address line.<br  /> Max length: 40",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "address2": {
                                                "description": "2nd address line. <br  /> Max length: 40",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "city": {
                                                "description": "City.<br  /> Max length: 40",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "country": {
                                                "description": "Country.<br  /> Max length: 30",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "county": {
                                                "description": "County.<br  /> Max length: 30",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "emailAddress": {
                                                "description": "Email. <br  />Max length: 50",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "mobilePhone": {
                                                "description": "Mobile phone number.<br  /> Max length: 12",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "phone": {
                                                "description": "Phone number.<br  /> Max length: 12",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "postalCode": {
                                                "description": "Postal code.<br  /> Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "state": {
                                                "description": "State or province.<br  /> Max length: 2",
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "isHighlyCompensated": {
                                        "description": "Indicates if employee meets the highly compensated employee criteria.",
                                        "type": "boolean"
                                    },
                                    "isSmoker": {
                                        "description": "Indicates if employee is a smoker.",
                                        "type": "boolean"
                                    },
                                    "lastName": {
                                        "description": "Employee last name. <br  />Max length: 40",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "localTax": {
                                        "description": "Add, update, or delete local tax code, filing status, and exemptions including  PA-PSD taxes.",
                                        "items": {
                                            "additionalProperties": false,
                                            "description": "The Local Tax model",
                                            "properties": {
                                                "exemptions": {
                                                    "description": "Local tax exemptions value.<br  />Decimal (12,2)",
                                                    "type": "number",
                                                    "nullable": true
                                                },
                                                "exemptions2": {
                                                    "description": "Local tax exemptions 2 value.<br  />Decimal (12,2)",
                                                    "type": "number",
                                                    "nullable": true
                                                },
                                                "filingStatus": {
                                                    "description": "Employee local tax filing status. Must match specific local tax setup. <br  /> Max length: 50",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "residentPSD": {
                                                    "description": "Resident PSD (political subdivision code) applicable in PA. Must match Company setup.<br  /> Max length: 9",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "taxCode": {
                                                    "description": "Local tax code.<br  />Max length: 50",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "workPSD": {
                                                    "description": "Work location PSD. Must match Company setup. <br  /> Max length: 9",
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 5,
                                        "type": "array"
                                    },
                                    "mainDirectDeposit": {
                                        "additionalProperties": false,
                                        "description": "Add the main direct deposit account. After deposits are made to any additional direct deposit accounts, the remaining net check is deposited in the main direct deposit account. IMPORTANT: A direct deposit update will remove ALL existing main and additional direct deposit information in WebPay and replace with what is provided on the request. GET API will not return direct deposit data.",
                                        "properties": {
                                            "accountNumber": {
                                                "description": "Account number, entered without special characters and spaces. <br  />Max length: 17",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "accountType": {
                                                "description": "Account type. Valid values are *C* (Checking), *S* (Saving), *P* (Pay Card). <br   />Max length: 1",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "blockSpecial": {
                                                "description": "Indicates if direct deposit should be blocked when special check types such as Bonus are processed.<br />",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "isSkipPreNote": {
                                                "description": "Indicates if account will not pre-note.",
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "nameOnAccount": {
                                                "description": "Name on the bank account. Defaults to employee's name. <br  />Max length: 30<br />",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "preNoteDate": {
                                                "description": "Date to end the pre-note of the account. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.",
                                                "format": "paylocity-date",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "routingNumber": {
                                                "description": "ABA Transit Routing Number, entered without dashes or spaces. <br  />Max length: 9",
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "maritalStatus": {
                                        "description": "Employee marital status. Common values *D (Divorced), M (Married), S (Single), W (Widowed)*. <br  />Max length: 10",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "middleName": {
                                        "description": "Employee middle name.<br  /> Max length: 20",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "nonPrimaryStateTax": {
                                        "additionalProperties": false,
                                        "description": "Add or update non-primary state tax code, amount type (taxCalculationCode), amount or percentage, filing status, exemptions, supplemental check (specialCheckCalc), and reciprocity code information.",
                                        "properties": {
                                            "amount": {
                                                "description": "State tax code.<br  /> Max length: 50",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "exemptions": {
                                                "description": "State tax exemptions value.<br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "exemptions2": {
                                                "description": "State tax exemptions 2 value.<br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "filingStatus": {
                                                "description": "Employee state tax filing status. Common values are *S* (Single), *M* (Married).<br  />Max length: 50",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "percentage": {
                                                "description": "State Tax percentage. <br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "reciprocityCode": {
                                                "description": "Non-primary state tax reciprocity code.<br  /> Max length: 50",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "specialCheckCalc": {
                                                "description": "Supplemental check calculation code. Common values are *Blocked* (Taxes blocked on Supplemental checks), *Supp* (Use supplemental Tax Rate-Code). <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "taxCalculationCode": {
                                                "description": "Tax calculation code. Common values are *F* (Flat), *P* (Percentage), *FDFP* (Flat Dollar Amount plus Fixed Percentage). <br  />Max length: 10",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "taxCode": {
                                                "description": "State tax code.<br  /> Max length: 50",
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "ownerPercent": {
                                        "description": "Percentage of employee's ownership in the company, entered as a whole number. <br  /> Decimal (12,2)",
                                        "type": "number",
                                        "nullable": true
                                    },
                                    "preferredName": {
                                        "description": "Employee preferred display name.<br  /> Max length: 20",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "primaryPayRate": {
                                        "additionalProperties": false,
                                        "description": "Add or update hourly or salary pay rate, effective date, and pay frequency.",
                                        "properties": {
                                            "annualSalary": {
                                                "description": "Employee annual salary.<br />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "baseRate": {
                                                "description": "Employee base rate, used for Hourly employees. <br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "beginCheckDate": {
                                                "description": "The date of the first check on which the new pay rate will appear. This value is only applicable when updating an existing employee. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.",
                                                "format": "paylocity-date",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "changeReason": {
                                                "description": "Pay rate change reason.<br  /> Max length: 30",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "defaultHours": {
                                                "description": "Employee default hours consistently worked. If autoPayType is set to D, employee will be paid hourly base rate for the defaultHours. <br  />Decimal (12,2)",
                                                "type": "number",
                                                "nullable": true
[...]
